@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Create Status Task", "CreateStatusTask", "StatusTask")</li>
            <li>@Html.ActionLink("Edit Status Task", "UpdateStatusTask", "StatusTask")</li>
            <li>@Html.ActionLink("Get Status Task by id", "GetStatusTaskById", "StatusTask")</li>
        </ul>
    </div>
    <hr>
</body>
</html>