@model WEB.Models.ProgrammerViewModel

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteProgrammer</title>
</head>
<body>
    <h2>Programmer was deleted</h2>
</body>
</html>
