@model WEB.Models.AssignmentViewModel

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteAssignment</title>
</head>
<body>
    <h2>Assignment was deleted</h2>
</body>
</html>
