@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Create Assignment", "CreateAssignment", "Assignment")</li>
            <li>@Html.ActionLink("Edit Assignment", "UpdateAssignment", "Assignment")</li>
            <li>@Html.ActionLink("Delete Assignment", "DeleteAssignment", "Assignment")</li>
            <li>@Html.ActionLink("Get Assignment by id", "GetAssignmentById", "Assignment")</li>
        </ul>
    </div>
    <hr>
</body>
</html>